<!DOCTYPE html>
<html>
<head>
  <title>Thank you!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"">
</head>
<body>
  <div class="jumbotron text-center">
  <h3 class="display-3">Thank You {{ name }}!</h3>
  <p class="lead"><strong>We received your email and will respond shortly....</strong></p>
  <p class="lead">
  <a class="btn btn-primary btn-sm" href="{% url 'home' %}" role="button">Continue to homepage</a>
  </p>
</div>
<div class="col-md-12 text-center">

       <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is developed by Prince Gupta, Pankaj Joshi &amp; Nishkarsh Mishra
       </p>
       </div>
</body>
</html>
